{% extends 'base.html.twig' %}

{% block title %}New BasicBundle{% endblock %}

{% block body %}
    <h1>Create new BasicBundle</h1>

    {{ include('basic_bundle/_form.html.twig') }}

    <a href="{{ path('app_basic_bundle_index') }}">back to list</a>
{% endblock %}
